<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block body1 %}
<script src={% static 'Bootstrap/js/gallery.js' %}></script>

<div class="col-lg-12 col-ofsset-2">
    <button class = "btn" onclick="prev()">Prev</button>
    <button class = "btn" onclick="next()">Next</button>
</div>

<div class="col-lg-12 col-ofsset-4" id = "gallery">
    <img id ="slider" src="{% static 'images/sl1.jpg' %}" height="700" width="1200">
</div>

<div class="col-lg-12 col-ofsset-6">

</div>



        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                <h1 style="font-size: 60px"><br>Книги<br></h1>
                <p>тут будет бесконечная загрузка</p></div>h4>
                <p>тут будет бесконечная загрузка</p></div>h4>
                <p>тут будет бесконечная загрузка</p></div>h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <h4><p>тут будет бесконечная загрузка</p></h4>
                <div class="loading" style="display: none;">
                    Loading...
                </div>

            {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
            {% endif %}
                </div>
            </div>

        </div>


    <script>
    var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
                $('.loading').show();
          },

          onAfterPageLoad: function ($items) {
                $('.loading').hide();
          }
    });
    </script>










{% endblock %}


