<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block body1 %}



<div id="headerwrap">
    <div class = "container">
        <div class="row centered">
            <div class="col-lg-12 col-ofsset-2">
                <h1>Welcome guest, subscribe for our news</h1>
                <h1>Write your email, pls:</h1>
                <hr>
                <div>
                    <form action="" method="post">{% csrf_token %}
                    {{ form.as_p }}
                        <div>
                            <button type="submit" class="btn ui-button-icon-primary">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}