<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block body1 %}


<div id="headerwrap">
    <div class = "container">
        <div class="row centered">
            <div class="col-lg-12 col-ofsset-2">
                <h1>Welcome guest,</h1>
                <h1>sign up, pls:</h1>
                <h1>{{ error_flag }}</h1>
                <hr>
                <div>
               <form method="POST">
            <div class="auth_block">
                {% csrf_token %}
                <div class="auth_blank">
                    <label>
                        Логин
                    </label>
                    <div class="form-block">
                        <input type="text" name="username" value="{{ username }}">
                        {% if errors.username != '' %}
                            <div class="form-error">{{ errors.username }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="auth_blank">
                    <label>
                        Пароль
                    </label>
                    <div class="form-block">
                        <input type="password" name="password">
                        {% if errors.password != '' %}
                            <div class="form-error">{{ errors.password }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="auth_blank">
                    <label>
                        Повторите пароль
                    </label>
                    <div class="form-block">
                        <input type="password" name="password2">
                        {% if errors.password2 != '' %}
                            <div class="form-error">{{ errors.password2 }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="auth_blank">
                    <label>
                        E-mail
                    </label>
                    <div class="form-block">
                        <input type="email" name="email" value="{{ email }}">
                        {% if errors.email != '' %}
                            <div class="form-error">{{ errors.email }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="auth_blank">
                    <label>
                        Имя
                    </label>
                    <div class="form-block">
                        <input type="text" name="firstname" value="{{ firstname }}">
                        {% if errors.firstname != '' %}
                            <div class="form-error">{{ errors.firstname }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="auth_blank">
                    <label>
                        Фамилия
                    </label>
                    <div class="form-block">
                        <input type="text" name="surname" value="{{ surname }}">
                        {% if errors.surname != '' %}
                            <div class="form-error">{{ errors.surname }}</div>
                        {% endif %}
                    </div>
                </div>
                <br>
                <button type="submit">Confirm</button>
            </div>
        </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}